@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap');

@import './biography';

body{
    background: linear-gradient(to right, #525252, #3d72b4);
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    width: 100%;

}

.header{
    // width: 1400px;
    width: 80%;
    // max-width: 1400px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-bottom: .7px solid rgba(80,85,91,0.59);
    margin:0 auto;
    box-shadow: 0px 2px 35px -48px rgba(41,41,41,0.59);
}

.figure__img-one{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:13.5%;
    bottom:62%;
    margin: 0;
}

 .logo{
    font-size: 1.1em;
    font-family: 'Rock Salt', cursive;
    color: #f8f5f5;
    text-shadow: -1px 5px 11px rgba(0, 0, 0, 1);
 }

.img-sub-header{
    width: 250px;
    // position: absolute;
    // left: 13em;
    // top: 5em;
}

a{
    text-decoration: none;
    color: rgba(#ffffff, .6);
    padding: 5px;
}

 ul{
    display: flex; 
    list-style-type: none;
    margin: 1em;
    font-family: 'Muli', sans-serif;
}

.nav-list li{
   padding: 0 1em 0;
}

li:hover{
    color: #ffffff;
    cursor: pointer;
}

.section{
    // width: 1400px;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.hero{
   width: 40%;
   padding: 1.9em;
   color: #ffffff;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: absolute;
   bottom: 15%;
   left: 2%;
   box-shadow: 0px 2px 12px 0px rgba(41,41,41,0.59);}

.leonardo{
    font-size: 5em;
    font-family: 'Playfair Display', serif;
    margin: 0;
    letter-spacing: 2px;
    }

.paragraph-first{
  font-family: 'Dancing Script', cursive;  
  margin: 0 0 0 1em;
}

.button{
    padding: 20px;
    border: 1.5px solid rgba($color: #8392a7, $alpha: 0.9);
    color:#ffffff;
    font-family: 'Muli', sans-serif;
    width: 10em;
    margin: 35px 0;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;

    &:hover{
    background-color: darken(rgba($color: #8392a7, $alpha: 0.9), .9);
    }

    &:active{
    transform: scale(.9);
    }
}   
.hero__image {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0;
    // height: 100vh;
    position: absolute;
    right:-110px;
    top: 20px;
    // border: lightgreen solid 4px;
}
.front-img{
    width: 830px;
    height: 800px;
    padding: 0;
    transform: rotate(7deg);
    // overflow: hidden;
}
//Footer

.footer{
    width: 100%;
    position: relative;
    background: rgba(0,0,0,.6);
    color:#ffffff;
    text-align: center;
}

.footer-container{
    width: 80%;
    height: 250px;
    display: flex;
    align-items: center;  
    margin:auto;
    // border: lightgreen solid 3px;
    position: relative;
}

.form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 2%;
    // position: absolute;
    // left:60px;
    padding: 1em;
}

.email{
    width: 350px;
    height: 20px;
    // border-radius: 2px;
    padding: 10px 15px;
    border: none;
    background: none;
    border-bottom: 1px solid #8392a7;
    color:#fff;


    &:focus {
        border: 1px solid #8392a7;
        font-size: .7em;
    }

 &:placeholder{
        color:#ffffff;
    }
}

.button-form{
    width: 100px;
    padding: 10px;
    margin-top: 30px;
    border-radius: 3px;
    background: none;
    border: 1.1px solid lighten($color: #8392a7, $amount: 16%);
    color: #ffffff;
    font-size: .9em;
    font-family: 'Muli', sans-serif;

    &:hover{
        background: #8392a7;
    }

    &:active{
        transform: scale(.9);
    }
}
.text-form{
    margin-bottom:12px;
}

ul, li, img {
    padding: 0;
}


.social-media{
    display: flex;
    position: absolute;
    right: 6%;
}


.social-media img{
    width: 40px;
    margin: 0;
    padding: 10px;
}

.text-footer > p{
    text-align: center;
    margin: 0;
    position: relative;
    bottom: 20px;
    font-size: 1.2em;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #ccc;
   opacity: 1 /* esto es porque Firefox le reduce la opacidad por defecto */;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #ccc;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #ccc;
}

/* ---------------------------- Responsive design --------------------------- */
/* -------------------------------------------------------------------------- */

//LAPTOP
@media only screen and(max-width: 1024px){
    body{
        background: linear-gradient(to right, #525252, #3d72b4);
    }

    .nav {
        font-size: .9em;
    }
}

//TABLET
@media only screen and (max-width: 768px){
    .logo{
        font-size: .9em;
    }

    .nav{
        font-size: .8em;
    }
}


//MOBILE
@media only screen and (max-width: 425px){
    body{
     background: linear-gradient(to right, #525252, #3d72b4); 
    }

    .nav{
        display:none;
    }

    .header{
        display: block;   
    }
    .logo{
        text-align: center;
        font-size: 1em;
    }

}