@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap');

@import './biography';

body{
    background: linear-gradient(to right, #525252, #3d72b4);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-bottom: .5px solid rgba(80,85,91,0.59);
    margin:0;
    box-shadow: 0px 2px 35px -48px rgba(41,41,41,0.59);
    
}

.logo{
    font-size: 1.1em;
    margin-left: 2em;
    font-family: 'Rock Salt', cursive;
    color: #f8f5f5;
    text-shadow: -1px 5px 11px rgba(0, 0, 0, 1);
}

.img-sub-header{
    width: 250px;
    position: absolute;
    left: 13em;
    top: 6em;
}

a{
    text-decoration: none;
    color: rgba(#ffffff, .7);
    padding: 5px;
}

 ul{
    display: flex; 
    list-style-type: none;
    margin: 1em;
    font-family: 'Muli', sans-serif;
}

ul, li{
   padding: 0 1em 0 1em;
}

li:hover{
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
}

.section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.main{
   padding: 1.9em;
   color: #ffffff;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: absolute;
   bottom: 200px;
   left: 50px;
   box-shadow: 0px 2px 12px 0px rgba(41,41,41,0.59);}

.leonardo{
    font-size: 5em;
    font-family: 'Playfair Display', serif;
    margin: 0;
    letter-spacing: 2px;

}



.paragraph-first{
  font-family: 'Dancing Script', cursive;  
  margin: 0 0 0 1em;
}

.button{
    padding: 20px;
    border: none;
    color:#ffffff;
    font-family: 'Muli', sans-serif;
    background-color: rgba($color: #3d70b1, $alpha: 0.5);
    width: 10em;
    margin: 35px 0;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;

    &:hover{
        text-decoration: underline;
        background-color: darken(rgba($color: #3d70b1, $alpha: 0.9), .9);

    }

    &:active{
        transform: scale(.9);
    }
}   
figure {
    margin: 0;
    height: 100vh;
    position: absolute;
    right:60px;
    top: 0;
}
.front-img{
    margin:0;
    width: 800px;
    height: 800px;
}
//Footer

.footer{
    position: relative;
    bottom: 0;
    background: rgba(0,0,0,.6);
    color:#ffffff;
    text-align: center;
}

.form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.email{
    width: 380px;
    height: 20px;
    border-radius: 7px;
    padding: 8px;
    border: none;
}

.button-form{
    width: 100px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 7px;
    background: #515354;
    border: none;
    color: #ffffff;
    font-size: .9em;

    &:hover{
        background: #3e71b2;
    }

    &:active{
        transform: scale(.9);
    }
}
.text-form{
    margin-bottom:7px;
}

.footer-container{
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

ul, li, img {
    padding: 0;
}

.social-media, img{
    width: 40px;
    margin: 0;
}

.text-footer > p{
    margin: 0;
    position: relative;
    bottom: 20px;
    font-size: 1.2em;
}
